div
	p First paragraph

	p
		| Williamsburg pitchfork helvetica ethical, yuccie celiac mixtape bitters. Pinterest trust fund pour-over neutra ethical tousled. Tote bag ethical dreamcatcher, viral tofu locavore jean shorts aesthetic. Tumblr meggings butcher, quinoa roof party kale chips umami mlkshk skateboard fixie neutra sustainable intelligentsia. Biodiesel echo park tousled, pitchfork freegan everyday carry slow-carb chicharrones next level forage small batch. Small batch gentrify four dollar toast, four loko pickled distillery venmo kitsch. Narwhal disrupt readymade marfa trust fund, you probably haven't heard of them gluten-free bitters craft beer shabby chic butcher. 
		img(src="http://www.smh.com.au/content/dam/images/g/l/d/9/0/i/image.related.thumbnail.140x93.gm0sld.10rdw0.png/1452236706105.jpg")
		|  And then the rest of the text goes here.

	p.
		Williamsburg pitchfork helvetica ethical, yuccie celiac mixtape bitters. Pinterest trust fund pour-over neutra ethical tousled. Tote bag ethical dreamcatcher, viral tofu locavore jean shorts aesthetic. Tumblr meggings butcher, quinoa roof party kale chips umami mlkshk skateboard fixie neutra sustainable intelligentsia.

	p Williamsburg pitchfork helvetica ethical, yuccie celiac mixtape bitters. Pinterest trust fund pour-over neutra ethical tousled. Tote bag ethical dreamcatcher, viral tofu locavore jean shorts aesthetic. Tumblr meggings butcher, quinoa roof party kale chips umami mlkshk skateboard fixie neutra sustainable intelligentsia.