div
	h2 More Javascript

	- date = new Date()
	- hour = date.getHours()

	p date is #{date} and hour is #{hour}

	- if ((hour >= 6) && (hour <= 17)) {
	h3 Day Time
	- } else {
	h3 Night Time
	- }

	- age = 18

	if ((age >= 16) && (age < 18))
		h3 You Can Drive
	else if age >= 18
		h3 You Can Drive and Vote
	else
		h3 Wait till you're 16

	unless age >= 16
		h3 You'll drive at 16
	else
		h3 You can Drive



	- dayTime = (((hour >= 6) && (hour <= 17)) ? 'Day Time' : 'Night Time')
	h3 #{dayTime}


	- name = "Sue"

	case name
		when "Sally"
			h3 Hi Sally
		when "Sue"
			h3 Hi Sue
		default
			h3 Hi You

	script.
		console.log('Hello Jade')